openapi: 3.0.3
info:
  title: Hudson Digital Solutions API
  description: |
    REST API for Hudson Digital Solutions website.

    ## Authentication
    - Public endpoints: No authentication required
    - Admin endpoints: Require Supabase Auth session
    - All mutating endpoints require CSRF token in `X-CSRF-Token` header

    ## Rate Limiting
    - API endpoints: 60 requests/minute per IP
    - Contact form: 3 requests/15 minutes per IP
    - Newsletter: 3 requests/minute per IP

    ## Error Handling
    All errors return JSON with `error` field containing a human-readable message.
  version: 1.0.0
  contact:
    name: Hudson Digital Solutions
    url: https://hudsondigitalsolutions.com
    email: hello@hudsondigitalsolutions.com

servers:
  - url: https://hudsondigitalsolutions.com/api
    description: Production
  - url: http://localhost:3000/api
    description: Development

tags:
  - name: Health
    description: System health and monitoring
  - name: CSRF
    description: CSRF token management
  - name: Newsletter
    description: Newsletter subscription management
  - name: Calculators
    description: Lead capture calculators
  - name: Testimonials
    description: Customer testimonials
  - name: Case Studies
    description: Portfolio case studies
  - name: Portfolio
    description: Project portfolio
  - name: Analytics
    description: Analytics and metrics
  - name: Admin
    description: Admin-only endpoints (require authentication)

paths:
  /health:
    get:
      tags:
        - Health
      summary: Health check
      description: Returns system health status and basic metrics
      operationId: getHealth
      responses:
        '200':
          description: System is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: System is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    head:
      tags:
        - Health
      summary: Simple uptime check
      description: Returns 200 for monitoring tools
      operationId: headHealth
      responses:
        '200':
          description: System is up

  /csrf:
    get:
      tags:
        - CSRF
      summary: Get CSRF token
      description: Generates a new CSRF token for form submissions
      operationId: getCsrfToken
      responses:
        '200':
          description: CSRF token generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: CSRF token to include in X-CSRF-Token header
                  message:
                    type: string
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /newsletter/subscribe:
    post:
      tags:
        - Newsletter
      summary: Subscribe to newsletter
      description: Adds email to newsletter subscriber list and sends welcome email
      operationId: subscribeNewsletter
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  description: Subscriber email address
                source:
                  type: string
                  description: Subscription source (e.g., 'website', 'blog')
      responses:
        '200':
          description: Successfully subscribed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: Invalid email or already subscribed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /calculators/submit:
    post:
      tags:
        - Calculators
      summary: Submit calculator lead
      description: Captures lead from ROI/cost calculators
      operationId: submitCalculatorLead
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - calculatorType
              properties:
                email:
                  type: string
                  format: email
                firstName:
                  type: string
                lastName:
                  type: string
                company:
                  type: string
                phone:
                  type: string
                calculatorType:
                  type: string
                  enum: [roi, cost-estimator, performance, mortgage, tip]
                calculatorData:
                  type: object
                  description: Calculator-specific data
      responses:
        '200':
          description: Lead captured successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  leadId:
                    type: string
        '400':
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded

  /testimonials:
    get:
      tags:
        - Testimonials
      summary: Get all testimonials
      description: Returns published testimonials
      operationId: getTestimonials
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: featured
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: List of testimonials
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Testimonial'

  /testimonials/submit:
    post:
      tags:
        - Testimonials
      summary: Submit a testimonial
      description: Submit a new testimonial for review
      operationId: submitTestimonial
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - content
                - rating
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                company:
                  type: string
                role:
                  type: string
                content:
                  type: string
                  minLength: 10
                  maxLength: 1000
                rating:
                  type: integer
                  minimum: 1
                  maximum: 5
      responses:
        '200':
          description: Testimonial submitted for review
        '400':
          description: Invalid data
        '429':
          description: Rate limit exceeded

  /case-studies:
    get:
      tags:
        - Case Studies
      summary: Get all case studies
      description: Returns published case studies
      operationId: getCaseStudies
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: category
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of case studies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CaseStudy'

  /portfolio/projects:
    get:
      tags:
        - Portfolio
      summary: Get all projects
      description: Returns portfolio projects
      operationId: getProjects
      parameters:
        - name: featured
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: List of projects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'

  /portfolio/projects/{id}:
    get:
      tags:
        - Portfolio
      summary: Get project by ID
      description: Returns a single project
      operationId: getProjectById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Project details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '404':
          description: Project not found

  /web-vitals:
    post:
      tags:
        - Analytics
      summary: Report Web Vitals
      description: Receives Core Web Vitals metrics from client
      operationId: reportWebVitals
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                metric:
                  type: string
                  enum: [CLS, FCP, FID, INP, LCP, TTFB]
                value:
                  type: number
                path:
                  type: string
      responses:
        '200':
          description: Metrics recorded
        '429':
          description: Rate limit exceeded

  /rss/feed:
    get:
      tags:
        - Health
      summary: RSS feed
      description: Returns RSS feed of blog posts
      operationId: getRssFeed
      responses:
        '200':
          description: RSS XML feed
          content:
            application/rss+xml:
              schema:
                type: string

  # Admin Endpoints
  /admin/analytics/overview:
    get:
      tags:
        - Admin
      summary: Get analytics overview
      description: Returns dashboard analytics overview (requires auth)
      operationId: getAnalyticsOverview
      security:
        - supabaseAuth: []
      responses:
        '200':
          description: Analytics overview data
        '401':
          description: Not authenticated
        '403':
          description: Not authorized

  /admin/analytics/leads:
    get:
      tags:
        - Admin
      summary: Get leads analytics
      description: Returns lead analytics data (requires auth)
      operationId: getLeadsAnalytics
      security:
        - supabaseAuth: []
      responses:
        '200':
          description: Leads analytics data
        '401':
          description: Not authenticated
        '403':
          description: Not authorized

  /admin/leads/{id}/notes:
    get:
      tags:
        - Admin
      summary: Get lead notes
      description: Returns notes for a specific lead (requires auth)
      operationId: getLeadNotes
      security:
        - supabaseAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Lead notes
        '401':
          description: Not authenticated
        '404':
          description: Lead not found
    post:
      tags:
        - Admin
      summary: Add lead note
      description: Adds a note to a lead (requires auth)
      operationId: addLeadNote
      security:
        - supabaseAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - content
              properties:
                content:
                  type: string
      responses:
        '200':
          description: Note added
        '401':
          description: Not authenticated

components:
  securitySchemes:
    supabaseAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Supabase Auth JWT token

  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, error]
        checks:
          type: object
          properties:
            api:
              type: boolean
            environment:
              type: string
            timestamp:
              type: string
              format: date-time
            uptime:
              type: number
            memory:
              type: object
              properties:
                used:
                  type: integer
                total:
                  type: integer
                unit:
                  type: string
            version:
              type: string
        env:
          type: object
          additionalProperties:
            type: boolean
        message:
          type: string

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message

    Testimonial:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        company:
          type: string
        role:
          type: string
        content:
          type: string
        rating:
          type: integer
        featured:
          type: boolean
        createdAt:
          type: string
          format: date-time

    CaseStudy:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        slug:
          type: string
        summary:
          type: string
        content:
          type: string
        category:
          type: string
        client:
          type: string
        results:
          type: object
        featured:
          type: boolean
        publishedAt:
          type: string
          format: date-time

    Project:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        slug:
          type: string
        description:
          type: string
        technologies:
          type: array
          items:
            type: string
        imageUrl:
          type: string
        liveUrl:
          type: string
        featured:
          type: boolean
